body{
    background-color:  #14243c ;
}

p{
    font-size: 50px;
    color: #14243c;
    margin: 15px;
    text-align: center;
    justify-content: space-between;
}

header{

    background:  #e96806  ;
    width: 100%;
    position: fixed;
    z-index: 10;
}


.navbar ul{
    list-style: none;
    overflow: hidden;
}

.navbar ul li img{
    
    height: 60px;
    width: 100%;
    padding-right: 25px;
}

.atajo{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.atajo li{

    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.atajo a{

    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-right: 30px;
}

.trabajos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.trabajos h2{

    padding: 15px;
    color: #fff;
}

.enlace, .autor{
    color: #fff;
    font-size: 25px;
}


.inicio video{

    margin-top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nosotros, .sponsors, .blog{

    background-color: #fff;
    align-items: center;
    border-radius: 25px;
}

.nosotros h2, .sponsors h2{
    color: #14243c;
    font-size: 70px;
}

.educacion, .beneficiarios, .contacto{

    background-color:  #e1c31f;
    align-items: center;
    border-radius: 25px;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 25px;
}

.contenido{
    background-color: #fff;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, 0.1);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    animation: EntradaDesdeDer .8s ease;
}

.contenidoBlog{
    background-color: #fff;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, 0.1);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    animation: EntradaDesdeDer .8s ease;
}

.contenidoBen1, .contenidoBen2, .contenidoBen3, .contenidoBen4{
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, 0.1);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    animation: EntradaDesdeIzq .8s ease;
    color: #fff;
    font-size: 25px;
}

.donar{
    background-color: #06264c;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, 0.1);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    animation: EntradaDesdeIzq .8s ease;
    color: #fff;
    font-size: 25px;
}

.contact{
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    animation: EntradaDesdeIzq .8s ease;
    color: #fff;
    font-size: 25px;

}

.contenidoEdu{
    background-color: #fff;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, 0.1);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    animation: EntradaDesdeIzq .8s ease;
}

.foto{

    text-align: center;
    align-items: center;
    justify-content: center;
}

.foto img{
    height: 100%;
    width: 1500px;
}

.contenidoEdu h1{
    font-size: 50px;
    color: #06264c;
}

.contact h1{
    margin: 0;
}

.logotipo{

    padding-left: 50px;
    padding-right: 50px;
}

.donar img{
    float: left;
    height: 100%px;
    width: 450px;
}

.donar h1, .donar h6{

    margin: 0;
}

.donar button{

    height: 40px;
    width: 100px;
    background-color: #e1c31f;
    font-size: 20px;
}

.donar button:hover{

    background-color: #06264c;
    color: #e1c31f;
}

.contenidoBen1{
    
    background-color:   #203e57 ;
}
.contenidoBen2{
    
    background-color:   #112344 ;
}
.contenidoBen3{
    
    background-color:  #14243c  ;
}
.contenidoBen4{
    
    background-color:  #06264c ;
}


.logo{
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 15px;
    animation: EntradaDesdeDer .8s
}

.logo img{

    height: 200px;
    width: 200px;
}

.bl{
    height: 100%px;
    width: 450px;
    padding: 35px;
}

.beneficiarios1, .beneficiarios2 .beneficiarios3 .beneficiarios4{

    align-items: center;
}

@keyframes EntradaDesdeIzq{

    from{
        transform: translateX(-200%);
    }to{
        transform: translateX(0);
    }
}

@keyframes EntradaDesdeDer{

    from{
        transform: translateX(+200%);
    }to{
        transform: translateX(0);
    }
}