body{
    background-color:  #14243c ;
}

p{
    font-size: 50px;
    color: #14243c;
    margin: 15px;
    text-align: center;
    justify-content: space-between;
}

header{

    background:  #e96806  ;
    width: 100%;
    position: fixed;
    z-index: 10;
}


.navbar ul{
    list-style: none;
    overflow: hidden;
}

.navbar ul li img{
    
    height: 60px;
    width: 100%;
    padding-right: 25px;
}

.atajo{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.atajo li{

    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.atajo a{

    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-right: 30px;
}

.trabajos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.trabajos h2{

    padding: 15px;
    color: #fff;
}

.enlace, .autor{
    color: #fff;
    font-size: 25px;
}


.inicio video{

    margin-top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nosotros, .sponsors, .blog{

    background-color: #fff;
    align-items: center;
    border-radius: 25px;
}

.nosotros h2, .sponsors h2{
    color: #14243c;
    font-size: 70px;
}

.educacion, .beneficiarios, .contacto{

    background-color:  #e1c31f;
    align-items: center;
    border-radius: 25px;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 25px;
}

.contenido{
    background-color: #fff;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, 0.1);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    animation: EntradaDesdeDer .8s ease;
}

.logo{
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 15px;
    animation: EntradaDesdeIzq .8s
}

.logo img{

    height: 200px;
    width: 200px;
}

@keyframes EntradaDesdeIzq{

    from{
        transform: translateX(-200%);
    }to{
        transform: translateX(0);
    }
}

@keyframes EntradaDesdeDer{

    from{
        transform: translateX(+200%);
    }to{
        transform: translateX(0);
    }
}