
body {

    background-attachment: fixed;
    background-image: url(./../resource/Montañas1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    overflow-x: hidden;
}

header{

    background: rgba(0, 0 , 0, 0.2);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navbar{

    float: right;
}

.navbar ul{
    list-style: none;
    overflow: hidden;
}

.titulos{

    font-size: 50px;
}

.subtitulo{
    font-size: 35px;
}

.texto{
    font-size: 25px;
}

.titulos, .subtitulo{
    color:#000;
}

.atajo{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.atajo li{

    padding: 20px;
}

.atajo a{

    text-decoration: none;
    text-decoration: underline;
    color: #000;
    font-size: 40px;
}

.yo{
    margin-top: 80px;
    float: right;
}

.foto{
    height: 250px;
    width: 100;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 25px;
}

.caja{

    background-color: #fff;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    border-radius: 1rem;
    align-items: center;
    padding: 25px;
    margin-right: 30px;
    margin-top: 30px;
    transform: translateX(600%);
    transition: transform 0.4s ease;
}

.caja:nth-of-type(even){
    transform: translateX(-600%);
}

.caja.show{
    transform: translateX(0);
}

.gusto, .juego{

    width: 250px;
    height: 250px;
    padding: 25px;
}

.imagen {

    width: 400px;
    height: 300px;
    padding: 25px;
}

.pie {
    opacity: 1;
    border: 1;
}

.trabajos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.trabajos h2{

    padding: 15px;
}

.enlace {
    color:black;
    font-size: 25px;
}